bin/*

build/package/db-volume/*
build/package/redis-data/*

dark-panda-gcp-service-account.json
google-service-account.json

.app.env
.app.prod.env

# Play Ground
playground/*

# worker error logs path
errors_logs
